@import 'https://unpkg.com/open-props@beta.5' layer(library);

@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  :where(:not(dialog)) {
    margin: 0;
  }
}

@layer base {
  :root {
    color-scheme: dark;
    font-family: "Poppins", sans-serif;    

    --palette-hue: 249;
    --palette-hue-rotate-by: 0;
    --palette-chroma: 0;
    --black: black;
    --extend-font-size-fluid-4: clamp(3.5rem, 4.333vw, 4.5rem);

    --surface-1: #1D1D1B;
    --surface-invert: #ffffff;
    --text-1: #ffffff;
    --text-invert: #1D1D1B;
    --brand: var(--red);

    --space-xxs: var(--size-1);
    --space-xs: var(--size-2);
    --space-sm: calc(var(--size-1) + var(--size-2));
    --space-md: var(--size-3);
    --space-lg: var(--size-7);

    --radius-sm: var(--radius-2);
    --radius-md: var(--radius-3);
    --radius-lg: var(--radius-round);
    --border-thin: var(--border-size-1);

    --timing-function-slow-ease: var(--ease-1);
    --timing-function-fast-ease-in-out: var(--ease-in-out-4);

    --button-link-font-size: var(--font-size-1);
    --button-link-font-weight: var(--font-weight-7);
    --button-link-block-size: 3.25em;
    --button-link-min-inline-size: 7em;
    --button-link-border: var(--border-size-1) solid currentColor;
    /*--button-link-face: transparent;*/
    --button-link-text: white;
    --button-link-hover-face: color-mix(in oklch, white, transparent 80%);
    --button-link-primary-text: white;
    --button-link-primary-face: var(--red);
    --button-link-primary-border: none;
    --button-link-primary-hover-face: color-mix(
      in oklch,
      var(--black),
      transparent 20%
    );
    --button-link-border-radius: var(--radius-round);
    --nav-logo-inline-size: var(--size-12);
    --icon-btn-block-size: var(--size-8);
    --icon-btn-inline-size: var(--size-8);

    --highlight-text: var(--red);
    --body-font-size: var(--font-size-1);
    --body-font-weight: var(--font-weight-4);
    --headline1-font-weight: var(--font-weight-7);
    --headline1-font-size: var(--font-size-fluid-3);
    @media (width >= 700px) {
      --headline1-font-size: var(--extend-font-size-fluid-4);
    }

    --nav-link-font-size: var(--font-size-1);
    @media (width < 1056px) {
      --nav-link-font-size: var(--font-size-2);
    }

    --nav-block-size: 100px;
    @media (width < 1056px) {
      --nav-block-size: 80px;
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--surface-invert);
    color: var(--text-1);
    font-size: var(--body-font-size);
    min-block-size: 100dvb;
  }
}

/*section {
  padding-top: 120px;
}*/

@layer App {
  .nav {
    display: grid;
    place-items: center;
  }

  .nav-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    place-items: center;
    min-block-size: var(--nav-block-size);
    inline-size: min(100%, 1656px);
    gap: var(--space-md);
 
    @media (width >=1056px) {
      padding-inline: var(--space-lg);
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (width < 1056px) {
      padding-inline-start: var(--space-md);
      padding-inline-end: var(--space-sm);
      
    }
  }

  .logo-wrapper {
    justify-self: start;
    inline-size: var(--nav-logo-inline-size);
  }

  .logo-img {
    inline-size: 100%;
    block-size: auto;
    display: block;
    object-fit: cover;
  }

  .menu-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: subgrid;
    place-items: center;
    grid-column: 2/-1;

    @media (width < 1056px) {
      align-content: space-between;
      background-color: white;
      gap: var(--space-lg);
      grid-auto-flow: row;
      inset: 0;
      padding-block-end: var(--space-lg);
      place-items: start stretch;
      position: absolute;
      overflow-y: auto;
      z-index: var(--layer-4);
      transition: opacity 0.3s var(--timing-function-slow-ease),
        scale 0.5s var(--timing-function-slow-ease),
        display 0.5s var(--timing-function-slow-ease) allow-discrete;

      @starting-style {
        opacity: 0;
        scale: 0;
      }    

      .nav:not(.open) & {
        display: none;
        opacity: 0;
        scale: 0.6;
      }
    }
  }

  .mobile-wrapper {
    display: grid;
    gap: var(--space-md);
  }

  .mobile-mobile-head {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    min-block-size: var(--nav-block-size);
    padding-inline-start: var(--space-md);
    padding-inline-end: var(--space-sm);
    justify-content: space-between;
    
    @media (width >=1056px) {
      display: none;
    }
  }



  .menu {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    /*gap: var(--space-lg);*/
    list-style: none;
    padding: 0;

    @media (width < 1056px) {
      grid-auto-flow: row;
      gap: var(--space-md);
      padding-inline: var(--space-md);     
    }
  }
    @media (max-width: 1056px) {
      .menu p {
        display: none;        
      }      
    }

  .nav-link {
    padding: 0 20px;
    text-wrap: nowrap;
    display: block;
    color: var(--text-invert);
    text-decoration: none;
    padding-block: var(--space-sm);
    font-size: smaller;
    /*font-size: var(--nav-link-font-size);*/

    &:hover {      
      background-color: #1D1D1B;
      color: white;
      border: none;      
      text-align: center;
      text-decoration: none;      
      cursor: pointer;
      border-radius: 30px; /* Forma cilíndrica */
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    @media (width < 1056px) {
      padding-block: var(--space-sm);
    }
  }
  .nav-link p {
    background-color: red
  }
  .menu p  {
    color: #1D1D1B ;
    background-color:white;
    &:hover {      
      background-color: white;
      color: #1D1D1B
  }}

  /*****    idiomas   *******/
  

  .idioms {
   padding-bottom: 11px;
    display: grid;
    grid-auto-flow: column;
    /*gap: var(--space-md);*/
    @media (width < 1056px) {
      grid-auto-flow: column;
      /*padding-inline: var(--space-md);*/
    }
    @media (width >=1056px) {
      justify-self: start;
    }
  }

  .idioms p {   
    color: #000000;
    font-size: smaller;
    text-align: center;
    line-height: 27px;
    margin-right: 0.5rem;
    transition: 0.3s;    
  }

.sp, .en {
    cursor: pointer;
    opacity: 1;
    -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  #en_lang {
    display: none;
  }  
/* Language */
.active-lang {
  /*display: flex !important;*/
  transition: display .5s;
}

.active-flag {  
  transition: all .5s;
  opacity: 1 !important;
}

@media (width >=1056px) {
  .idioms .logo-img {
    display: none;
  }
} 


  /*****    redes sociales    *****/
  .actions {
    display: grid;
    grid-auto-flow: column;
    gap: var(--space-md);
    padding-bottom: 11px;

    @media (width < 1056px) {
      grid-auto-flow: row;
      padding-inline: var(--space-md);
    }

    @media (width >=1056px) {
      justify-self: end;
    }
  }

  .social-icons {
    display: flex;
}

  .social-icons a {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: #000000;    
    color: #fff;
    text-align: center;
    line-height: 27px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

#face:hover {  
    background: #1877F2; 
}
#tw:hover {
    background-color: grey; 
}
#ig:hover {
    background-color: #E1306C;
}
#you:hover {
    background-color: #FF0000; 
}
#mail:hover {
    background-color: #FFC0CB; 
}
#link:hover {
    background-color: rgb(4, 166, 4); 
}

  /****   boton hamburguesa   *****/
  .icon-btn {
    position: absolute;
    right: 20px;
    color: var(--text-invert);
    inline-size: var(--icon-btn-inline-size);
    block-size: var(--icon-btn-block-size);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: var(--space-xs);

    @media (width >=1056px) {
      display: none;
    }
  }

  @media (width < 1200px) and (width > 1056px) {
    .social-icons a {
      width: 20px;
      height: 20px;
      border-radius: 50px;      
      text-align: center;
      line-height: 20px;
      margin-right: 0.2rem;
      transition: 0.3s;
    }  
  }




  /****   boton central   *****/
  .button-link {    
    text-decoration: none;
    font-size: x-large;   
    font-weight: var(--button-link-font-weight);
    padding-inline: var(--space-md);
    padding-block: var(--space-md);
    border-radius: var(--button-link-border-radius);
    block-size: var(--button-link-block-size);
    transition: background-color 0.2s var(--timing-function-slow-ease);
    color: var(--button-link-text);
    /*order: var(--button-link-border);*/
    /*background-color: var(--button-link-face);*/
    background-color: #1a1a1a;
    min-inline-size: var(--button-link-min-inline-size);
    display: inline-grid;
    place-items: center;
    font-weight: var(--headline5-font-weight);
    white-space: nowrap;
    text-overflow: ellipsis;
    /*&:hover {
      background-color: var(--button-link-hover-face);
    }
    &.primary {
      color: var(--button-link-primary-text);
      background-color: var(--button-link-primary-face);
      border: var(--button-link-primary-border);
      &:hover {
        background-color: var(--button-link-primary-hover-face);
      }
    }*/
  }

  /* Main */

  .hero {
    block-size: max(490px, calc(100dvb - var(--nav-block-size)));
    display: grid;
    gap: var(--space-lg);
    inline-size: 100%;
    background-image: url("./img/tb06.jpg");
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-content {
    block-size: 100%;
    display: grid;
    gap: var(--space-md);
    grid-template-rows: 1fr auto 1fr;
    place-items: end center;
    padding: var(--space-md);
    overflow: hidden;    
  }

  .hero-content h1 {
    font-size: 3.4rem;
      /*font-weight: 500;*/
      line-height: 1.2;
    
    /*font-size: var(--headline1-font-size);*/
    font-weight: var(--headline5-font-weight);
    text-align: center;
    display: inline-grid;
    inline-size: 100%;
    white-space: nowrap;
    color: white;
  }

  .heading {
    position: absolute;    
    margin-left: 10px;
    padding: 6px 35px;
    background-color: #1D1D1B;
    color: white;
    border: none;      
    text-decoration: none;     
    border-radius: 30px; /* Forma cilíndrica */      
}
  h2 {    
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.2;
      text-align: left;
      /*padding: 3.5rem 0;*/
      color: #ffffff;
  }
  
  /*.button-link  {

    margin-top: 50px;
  }*/

  .hero-header {
    grid-row: 2/3;
    display: grid;
    place-items: center;
    gap: var(--space-lg);
  }

  .scroll-btn {
    inline-size: var(--icon-btn-inline-size);
    block-size: var(--icon-btn-block-size);
    display: inline-grid;
    color: var(--text-invert);
    grid-row: 3/-1;
    border: var(--border-thin) solid var(--surface-invert);
    padding: 15px;
    border-radius: var(--radius-lg);

    transition: background-color 0.2s var(--ease-1), color 0.2s var(--ease-1);

    &:hover {
      background-color: var(--surface-1);
      color: var(--text-1);
    }
  }
}

@keyframes animate-ratio {
  from {
    aspect-ratio: 16/9;
    clip-path: inset(0 0);
  }

  to {
    aspect-ratio: 2.5/6;
    clip-path: inset(120px 0 50px 0);
    padding-block-start: 120px;
    padding-block-end: 50px;
  }
}

@keyframes push-up {
  10%,
  90% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(-200%);
  }
}

@media (max-width: 1045px) {
  .hero-content h1 {
    font-size: 2.4rem;     
    line-height: 1.2;  
    text-align: center;
  }
}
@media (max-width: 700px) {
  .hero {
    block-size: max(490px, calc(100dvb - var(--nav-block-size)));
    display: grid;
    /*gap: var(--space-lg);*/
    inline-size: 100%;   
    background-position: center;
   
  }
  
  .hero-content h1 {
    font-size: 1.4rem;     
    line-height: 1.5;    
  }
  .button-link {    
    text-decoration: none;
    font-size: medium;   
  }
}
@media (max-width: 430px) {
  .hero-content h1 {
    font-size: 1.1rem;     
    line-height: 1.5;   
  }
}

/******  programas *******/
.programas { 
  position: relative;
  top: 45px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  width: 100%; 
}

.programas .flex-container {
  display: flex;
  justify-content: space-evenly;
}

.programas .flex-container img {
  width: 60%;
}
.programas .flex-container > div { 
  margin: 10px;  
  text-align: center;
  line-height: 35px;  
}

@media (max-width: 1000px) {
  .programas .flex-container img {
    width: 40%;
  }
}

@media (max-width: 885px) {
  .programas .flex-container {
    display: grid;
    row-gap: 8px;
    grid-template-rows: auto auto auto;
  }
}





/*****   recursos    *****/

/*.container {
  text-align: left; 
}*/

.recursos {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;    
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 20px;
  max-width: 1300px;
}


.recursos h2 {
  position: absolute;
  left: 72px;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.rec {
  display: grid;
  padding-top: 50px;
  width: 90%;
  max-width: 1270px;
  gap: 5px;
}

.recursos .item {
  display: block;  
  font-size: 1.8em;
  color: #000000;
  text-decoration: none;
  /*margin-bottom: 15px;*/
  /*position: relative;*/
}

/*.recursos .item svg {
  margin-top: 10px;
}*/

@media (max-width: 600px) {
  .recursos .item {
      font-size: 1.8em;
  }
}


/*****  CONTACTO   *******/
.contacto {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;    
}

.contacto h2 {
  background-color: #ffffff;
  position: absolute;
  padding-top: 3px;
  left: 72px;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  text-align: left;
  text-transform: uppercase; 
}
/*.contacto .line_contact svg {
  position: absolute; 
  max-width: 100%; 
}*/

/****  formulario nuevo   ******/

.form_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #000000;
}
.form-container {
  width: 80%;
  max-width: 1000px;
  padding: 20px;  
}

form {
  display: flex;
  flex-direction: column;  
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  color: #000000;
  background-color: white;
  border-radius: 20px; /* Bordes redondeados */
  font-size: 1rem;
}

textarea {
  resize: none;
}

.form_contacto button { 
  width: 170px;
  margin: 20px auto;
  padding: 10px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

/******************   aportes   ********************/
.aportes {
  font-family: 'Poppins', sans-serif;  
  position: relative;
  top: 215px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  width: 100%; 
}

.aportes h3 {
  color: #000000;
  font-size: 21px;
  font-weight:400;
}
.aportes .flex-container {
  display: flex;
  justify-content: space-evenly;
}

.aportes .flex-container img {
  width: 50%;
}
.aportes .flex-container > div { 
  margin: 10px;  
  text-align: center;
  line-height: 35px;  
}

@media (max-width: 1000px) {
.aportes h3 {   
    font-size: 17px;
    font-weight:400;
  }
.aportes .flex-container img {
    width: 40%;
  }
}

@media (max-width: 885px) {
  .aportes .flex-container {
    display: grid;
    row-gap: 8px;
    grid-template-rows: auto auto auto;
  }
}

/****  audiovisuales   ****/
.videos {
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 60px;  
  background-color:aliceblue; 
}

.carousel-container {
  position: relative;
  max-width: 90%;
  margin: 20px auto;
  overflow: hidden;  
}

.carousel {
  display: flex;  
  align-items: center;
  justify-content: center; 
  width: 90%;
  margin: 0 auto;
}

.carousel-track {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  width: calc(300px * 18); 
  transition: transform 0.4s ease-in-out;
}

.carousel-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: left;
  margin: 10px;
  background: #fff;
  border: 1px solid #ccc;
  width: 300px;
  padding: 0px;
}

.carousel-item img {
  width: 100px;
  height: auto;
  margin-right: 15px;  
}

.info h3 { 
  position: relative; 
  left: 5px;
  top: 5px;
  color: #000;
}

.info p {
  font-size: 14px; 
  position: relative; 
  left: 5px;
  top: 85px;
  color: #333;
}

.flag {
  position: relative;
  font-size: small; 
  left: 135px;
  top: 65px;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.left-arrow {
  left: 0;
  z-index: 10000;
}

.right-arrow {
  right: 0;
  z-index: 10000;
}

.carousel-track {
  display: flex;
  width: calc(300px * 9); 
}







@media screen and (max-width: 768px) {
  .carousel {
    width: 100%;
  }
  .carousel-item {
    width: 100%;
  }
  .carousel-track {
    flex-wrap: wrap;
    display: flex;
    width: calc(300px * 1); /* Solo muestra 9 cards a la vez */
  }
}

@media screen and (max-width: 480px) {
  .carousel-item {    
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: left;
      margin: 10px;
      background: #fff;
      border: 1px solid #ccc;
      width: 300px;
      padding: 0px;
    }    
    .carousel-item img {
      width: 100px;
      height: auto;
      margin-right: 15px;  
    }  
  }

/****   seccion sobre el proyecto    *****/

.proyecto {
  margin: 40px 40px;
}
.proyecto h1 {
  color: black;
  font-size: xx-large;
  font-weight: 300;
}
.proyecto .primera {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(10px, auto);
}
.proyecto .primera p {
  grid-column: 1;
  grid-row: 2 / 5;
  color: black;
  font-size: x-small;
}

.proyecto .segunda {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(10px, auto);
}
.proyecto .segunda img {
  grid-column: 1;
  grid-row: 1 / 4;
  width: 90%;
  height: auto;
}
.proyecto .segunda p {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  padding-top: 90px;
  color: black;
  font-size: x-small;
}

.proyecto .tercera { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(10px, auto);
}
.proyecto .tercera .pic1 {
  grid-column: 1;
  grid-row: 1;
  width: 90%;
  height: auto;
}
.proyecto .tercera .pic2 {
  grid-column: 2;
  grid-row: 1;
  width: 90%;
  height: auto;
}
.proyecto .tercera .pic3 {
  grid-column: 3;
  grid-row: 1;
  width: 90%;
  height: auto;
}

.proyecto .cuarta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(10px, auto);
}
.proyecto .cuarta p {
  grid-column: 1;
  grid-row: 2 / 5;
  color: black;
  font-size: x-small;
}

.proyecto .quinta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(10px, auto);
}
.proyecto .quinta p {
  grid-column: 1;
  grid-row: 2 / 5;
  color: black;
  font-size: x-small;
}



@media screen and (max-width: 800px) {
  .proyecto .primera {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(10px, auto);
  }
  .proyecto .primera p {
    grid-column: 1;
    grid-row: 1 / 5; 
  }
  .proyecto .segunda {   
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5px;    
  }
  .proyecto .segunda img {
    grid-column: 2;
    grid-row: 1;    
    width: 300px;
    height: auto;   
  }
  .proyecto .segunda p { 
    padding-top: 25px;   
    grid-column: 2;
    grid-row: 2;    
  }
}
@media screen and (max-width: 600px) {
  .proyecto .tercera { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    grid-gap: 1px;
    grid-row-gap: 5px;
    grid-auto-rows: minmax(10px, auto);
  }
  .proyecto .tercera .pic1 {
    grid-column: 1;
    grid-row: 1;
    width: 90%;    
  }
  .proyecto .tercera .pic2 {
    grid-column: 1;
    grid-row: 2;
    width: 90%;    
  }
  .proyecto .tercera .pic3 {
    grid-column: 1;
    grid-row: 3;
    width: 90%;    
  }
}
@media screen and (max-width: 800px) {
  .proyecto .cuarta {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(10px, auto);
  }
  .proyecto .cuarta p {
    grid-column: 1;
    grid-row: 1 / 5; 
    }  
}
@media screen and (max-width: 800px) {
  .proyecto .quinta {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(10px, auto);
  }
  .proyecto .quinta p {
    grid-column: 1;
    grid-row: 1 / 5; 
    }  
}



/* ---------------- Grid Container  ---------------- */
/*ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}
@media only screen and (min-width: 800px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}*/

/* ---------------- CSS Grid  ---------------- */
.grid-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
}
.grid-card > .photo {
  grid-area: 1/1/4/2;
  margin-bottom: 16px;
}
@media only screen and (max-width: 800px) {
  .grid-card > .photo {
    justify-self: center;
  }
}
.grid-card > .title,
.grid-card > .content,
.grid-card > .meta {
  grid-column: 1/3;
  margin-bottom: 16px;
}
@media only screen and (min-width: 800px) {
  .grid-card > .title,
  .grid-card > .content,
  .grid-card > .meta {
    grid-column: 2/3;
  }
}

/*****   seccion de entrevistas con audios   ****/

.audios {
  background-color: rgb(231, 231, 231);
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.carousel-item-entrevistas {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: left;
  margin: 10px;
  background: #fff;
  border: 1px solid #ccc;
  width: 300px;
  padding: 0px;
}
.carousel-item-entrevistas:hover {
  background: rgb(17, 17, 20);
  color: #ccc;
  cursor: pointer;
  .inter h3, .inter p {
    color: #ccc;
  }
}

.carousel-item-entrevistas img {
  width: 100px;
  height: auto;
  margin-right: 15px;  
}

.inter h3 {  
  position: relative;
  font-size: smaller;
  left: 5px;
  top: 7px;
  color: #000;
}

.inter p { 
  font-size: 14px;  
  position: relative; 
  left: 5px;
  top: 45px;
  color: #333;
}

/* Estilos Responsive */
@media screen and (max-width: 768px) {
  .carousel-item-entrevistas {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .carousel-item-entrevistas  {    
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: left;
      margin: 10px;
      background: #fff;
      border: 1px solid #ccc;
      width: 300px;
      padding: 0px;
    }    
    .carousel-item-entrevistas  img {
      width: 100px;
      height: auto;
      margin-right: 15px;  
    }  
  }

  /* Estilos generales */
/*.carousel-container {
  width: 100%;
}

.carousel-item-entrevistas {
  cursor: pointer;
}*/

/********    aca se agrego el nuevo codigo del popup  *****/
.popup {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); 
}

.popup-content {
  width: 100%;
  height: 75%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.popup-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-center-text {
  font-size: 32px;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.play-stop-btn {
  margin-top: 350px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.progress-bar {  
  margin-top: 20px;
  width: 80%;  
}

.progress-bar input[type="range"] {   
  -webkit-appearance: none;
  width: 100%;
  height: 2px; /* Ajusta la altura a un tercio de la original */
  background: #ddd;
  border-radius: 5px;
  outline: none;
}
.progress-bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.progress-bar input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #555;
  border-radius: 50%;
  cursor: pointer;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .popup-content {
    width: 90%;
    height: 70%;
  }

  .close {
    font-size: 28px;
    right: 20px;
  }

  .popup-center-text {
    font-size: 24px;
  }

  .play-stop-btn {
    font-size: 16px;
  }
}





/****  nuevo footer   ****/

section footer {
  position: relative;
  top: 235px;
  background-color: #111; /* Color de fondo oscuro */
  color: white; /* Texto en blanco */
  display: flex;
  flex-direction: column;
  height: 28vh;
}

footer {
  margin-top: auto;
  background-color: #111; /* Asegura que el footer tenga un fondo oscuro */
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
}

.footer-logo {
  display: flex;
  align-items: center; 
}

.footer-logo img {
  height: 90px; 
  margin: 0 auto;
}

/*.footer-logo span {
  font-size: 14px;
}*/

.footer-icons {
  display: flex;
  gap: 32px;
}
.footer-icons a {
  color: #fff;
}

.footer-icons a img {  
  height: 95px;
  width: 95px;  
  filter: invert(1); /* Hace los iconos blancos */
  transition: transform 0.3s ease;
}
.footer-icons a:hover img {
  transform: scale(1.2); /* Efecto de zoom al pasar el cursor */
}
@media (max-width: 777px) {
  section footer {
    height: 35vh;   
  }
  .footer-container  {
    display: grid;
    row-gap: 28px;
    grid-template-rows: auto auto ;   
  }
  .footer-logo img {
    width: 60%;
    height: auto;
  }
  .footer-icons, .footer-logo {
    margin: 0 auto;
  }
}

/*.flex-container {
  display: flex;
  align-items: center; 
  background-color: black;
}

.flex-container > div { 
  color: white;
  margin: 10px;
  text-align: left;
  line-height: 15px;
  font-size: 20px;
}
.flex-container img {
  width: 25%;
  height: auto;
}*/








/****   seccion SobreElProyecto  ****/

/*.sobreelproyecto {
    block-size: max(490px, calc(100dvb - var(--nav-block-size)));
    display: grid;
    gap: var(--space-lg);
    inline-size: 100%;
}
   .sobreelproyecto {
      font-family: "Poppins", sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-color: #f9f9f9;
  }
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      gap: 100px;
      max-width: 1300px;
  }
  
  .superior_proyecto {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      max-width: 1200px;
  }
  .header_proyecto {
    display: flex;
    flex-direction:column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: #1D1D1B;
}
  .logo {
      text-align: center;
  }
  .logo img {      
      width: 40%;
      height: auto;
  }
  
  .content {
      display: flex;
      justify-content: space-between;
      width: 50%;
  }
  .description {
      flex: 1;
      text-align: center;
      width: 50%;
      
      font-size: 1.2em;
  }
  .cards {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: 10px 20px;
      text-align: center;
      width: 90%;
      max-width: 200px;
  }
  .card img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-bottom: 10px;
  }
  .card .staff {
    color: #e81155;
  }
  .pie_proyecto {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-top: 30px;
  }
  .pie_proyecto img {
      max-width: 400px;
     
  }
  @media (max-width: 1080px) {
    .pie_proyecto img  {
      max-width: 200px;
      height: auto;

    }
  }
  @media (max-width: 768px) {
    .header_proyecto {
        flex-direction: column;
        align-items: center;
    }
      .cards {
        flex-direction: column;
        align-items: center;
      }
    .pie_proyecto img {
        max-width: 150px;       
    }
    }
    .description {
        text-align: center;
        margin-top: 10px;
    }
    .card {
        width: calc(100% - 40px);
    }

@media (max-width: 500px) {
  .sobreelproyecto {
    block-size: max(990px, calc(100dvb - var(--nav-block-size)));
    gap: var(--space-lg);
  
  }
  .logo img {
    width: 75%;
  }
    .description {
        font-size: 1em;
    }
    .pie_proyecto {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      max-width: 280px;        
    }
    .pie_proyecto img {
      max-width: 250px;      
  }
}*/


/*****  seccion muestravirtual  *****/
/*.muestravirtual {
    block-size: max(490px, calc(100dvb - var(--nav-block-size)));
    display: grid;
    gap: var(--space-lg);
    inline-size: 100%;
    place-items: center;
}*/
/*.muestravirtual {
    min-height: 100vh;
    background-color: #fafafa;
}*/


/*.muestravirtual {
  height: 100vh;
  height: 100svh;
  display: grid;
  place-items: center;
}

.gallery {
  position: relative;
  width: 760px;
  height: 305px;

  &:hover :not(div[data-pos='0'],img) { cursor: pointer; }

  & .item {
    position: absolute;
    width: 175px;
    height: 150px;
    overflow: hidden;
    transition: transform 0.9s, width 0.9s, height 0.9s;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  & div[data-pos='0'] { 
    width: 400px;
    height: inherit;
    z-index: 10;
  }
}

div[data-pos='0'] { transform: translate(0,0); }
div[data-pos='1'] { transform: translate(405px,0); }
div[data-pos='2'] { transform: translate(585px,0); }
div[data-pos='3'] { transform: translate(405px,155px); }
div[data-pos='4'] { transform: translate(585px,155px); }

@media (width < 800px) {
  .gallery {
    width: 405px;
    height: 660px;
    padding-top: 40px;
    padding-bottom: 150px;

    & .item {
      width: 200px;
      height: 150px;
    }

    & div[data-pos='0'] {
      width: inherit;
      height: 350px;
      z-index: 10;
    }
  }

  div[data-pos='0'] { transform: translate(0,0); }
  div[data-pos='1'] { transform: translate(0,355px); }
  div[data-pos='2'] { transform: translate(0,510px); }
  div[data-pos='3'] { transform: translate(205px,355px); }
  div[data-pos='4'] { transform: translate(205px,510px); }
}*/






/*.container_1 {
    max-width: 80rem;
    margin: 0 auto;
    padding: 4rem 2rem 2rem;
}
 
.gallery {
    display: flex;
    flex-wrap: wrap;
   
    margin: -1rem -1rem;
}
  
.gallery-item {
    
    flex: 1 0 24rem;
   
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
  
.gallery-image {
    display:block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: transform 400ms ease-out;
}
  
.gallery-image:hover {
    transform: scale(1.15);
}

@supports (display: grid) {
  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: 2rem;
  }  
  .gallery,
  .gallery-item {
      margin: 0;
  }
}*/
  
/*****  seccion recursos  *****/
/*.recursos  {
  block-size: max(490px, calc(100dvb - var(--nav-block-size)));
  display: grid;
  gap: var(--space-lg);
  inline-size: 100%;

 
  
}*/
/* li {
  background-color: black;
  color: white;
  border: none;      
  text-align: center;
  text-decoration: none;      
  cursor: pointer;
  border-radius: 30px; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  pad.recursosding: 8px;
}*/             /****************************
/*.menu_recursos {
  display: block;
  gap: 8px; 
}
.recursos a:link, a:visited, a:active {
  text-decoration:none;   
}*/                              /************************

/*@media (width < 800) {
.recursos {
  margin: 500px 0;
}}*/

/*.recursos .heading { 
  margin-bottom: 120px;
}

.recursos .menu2 {
  display: flex;
  gap: 40px; 
  flex-direction: column;  
  padding-left: 70px;
  padding-right: 70px;
 
}

.recursos .menu2-button {
  background-color: #1D1D1B;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border: none;
  border-radius: 25px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  flex: 1; 
  transition: background-color 0.3s;
}

.menu2-button a {
  color: #ffffff;
  text-decoration: none;
}

.recursos .menu2-button:hover {
  border: 0.5px solid #1D1D1B;
  
  background-color: #ffffff; 

}
.recursos button:hover a {  
  color:#1D1D1B;
  
}*/



/*.recursos .menu2-button:hover {
  background-color: white; /* Cambia a blanco al pasar el mouse */
  
  /*color: black; 
}*/















/*****  seccion contacto  *****/
/*.contacto {
  block-size: max(490px, calc(100dvb - var(--nav-block-size)));
  display: grid; 
  inline-size: 100%;
  background-color: #ffffff;
 
}

#container {
  color: #1a1a1a;
  background: #ffffff;
  width: 80%;
  margin: 15px auto;
  
}*/

/*header {
  background: #9645c1;
  text-align: center;
  padding: 1%;
  color: white;
}*/

/*form {
  margin: 5%;
  width: 80%;
}


input[type="text"],
input[type="date"],
input[type="number"],
#country,
input[type="email"],
input[type="password"] {
  border: 1px solid #9645c1;
  display: block;
  margin: 10px auto;
  padding: 2%;
  width: 100%;
  border-radius: 26px;
}

input[type="radio"] {
  margin-top: 1.5%;  
}

#submitButton {
  background: green;
  padding: 15px 10px;
  float: left;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 9px;
}

#submitButton:hover {
  filter: brightness(115%);
}

#resetButton {
  background: #e24f2b;
  padding: 15px 10px;
  color: white;
  float: right;
  cursor: pointer;
  border-radius: 9px;
}


#resetButton:hover {
  filter: brightness(115%);
}

textarea {
  resize: none;
  border: 1px solid #9645c1;
  display: block;
  margin: 10px auto;
  padding: 2%;
  width: 100%;
  border-radius: 10px;
}

.contacto .social-icons {
 
  position: relative;
 
  margin-left: 45%;
  margin-bottom: 15px;
}  
.contacto .social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, grey, black);
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem; 
  transition: 0.3s;
}  
.contacto .social-icons a:hover {
  transform: scale(1.05);
}*/

/*Media Query */

@media all and (min-width: 0px) and (max-width: 320px) { 
  #container {
      width: 90%;
      margin-top: 20%;
  }  
  #resetButton {
      float: left;
  }
}

@media all and (min-width: 321px) and (max-width: 480px) {  
  #container {
      width: 90%;
      margin-top: 13%;
  } 
  #resetButton {
      float: left;
  }
}

@media all and (min-width: 481px) and (max-width: 568px) {  
  #container {
      width: 90%;
      margin-top: 10%;
  }
}

@media all and (min-width: 569px) and (max-width: 768px) { 
  #container {
      width: 90%;
      margin-top: 7%;
  }  
}
